* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #303030;
}

html, body {
  height: 100%;
}

.navbar {
  background-color: #5B6A9E;
}
.navbar .navbar-brand {
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-weight: bolder;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-toggler i {
  font-size: 2em;
}
.navbar .nav-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 6px;
  margin-right: 6px;
}

#container {
  min-height: 83vh;
}

#main {
  overflow-y: auto;
  padding-bottom: 80px;
}

#footer {
  position: relative;
  margin-top: auto;
  width: 100%;
  text-align: center;
  background-color: #5B6A9E;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.greenBtn {
  border-radius: 8px;
  color: white;
  font-weight: bold;
  background-color: #7C9C63;
}

.greenBtn:hover {
  background-color: #98c278;
}

.greenBtn:active {
  background-color: #567240;
}

.redBtn {
  border-radius: 8px;
  color: white;
  font-weight: bolder;
  background-color: #A85B5B;
}

.redBtn:hover {
  background-color: #ca6a6a;
}

.redBtn:active {
  background-color: #803d3d;
}

.yellowBtn {
  border-radius: 8px;
  color: black;
  font-weight: bold;
  background-color: #D78E01;
}

.yellowBtn:hover {
  background-color: #eeaf31;
}

.yellowBtn:active {
  background-color: #a87104;
}

.box {
  color: white;
  text-align: center;
  background-color: #262626;
  border-radius: 20px;
}

.form-control {
  background-color: #1C1C1C;
  border: none;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.form-control:focus {
  background-color: #1C1C1C;
  color: white;
}

/*# sourceMappingURL=personal.css.map */
