$palette: (
    black: (
        dark: #1C1C1C,
        base: #262626,
        light: #303030
    ),

    blue: (
        dark: #3f496e,
        base: #5B6A9E,
        light: #6d7ebd
    ),

    green: (
        dark: #567240,
        base: #7C9C63,
        light: #98c278
    ),

    red: (
        dark: #803d3d,
        base: #A85B5B,
        light: #ca6a6a
    ),

    yellow: (
        dark: #a87104,
        base: #D78E01,
        light: #eeaf31
    )
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: map-get(map-get($palette, black), light);
}

html, body {
    height: 100%;
}

.navbar {
    background-color: map-get(map-get($palette, blue), base);
    .navbar-brand{
        text-decoration: none;
        color: white;
        font-size: 28px;
        font-weight: bolder;
    }

    .navbar-collapse {
        text-align: center;
    }
    .navbar-toggler {
        i {font-size: 2em;}
        
    }

    .nav-link {
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin-left: 6px;
        margin-right: 6px;
    }
}

#container {
    min-height: 83vh;
}

#main {
    overflow-y: auto;
    padding-bottom: 80px;
    
}

#footer {
    position: relative;
    margin-top: auto;
    width: 100%;

    text-align: center;
    background-color: map-get(map-get($palette, blue), base);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}




.greenBtn {
    border-radius: 8px;
    color: white;
    font-weight: bold;
    background-color: map-get(map-get($palette, green), base) ;
}
.greenBtn:hover {
    background-color: map-get(map-get($palette, green), light) ;
}
.greenBtn:active {
    background-color: map-get(map-get($palette, green), dark) ;
}

.redBtn {
    border-radius: 8px;
    color: white;
    font-weight: bolder;
    background-color: map-get(map-get($palette, red), base) ;
}
.redBtn:hover {
    background-color: map-get(map-get($palette, red), light) ;
}
.redBtn:active {
    background-color: map-get(map-get($palette, red), dark) ;
}

.yellowBtn {
    border-radius: 8px;
    color: black;
    font-weight: bold;
    background-color: map-get(map-get($palette, yellow), base) ;
}
.yellowBtn:hover {
    background-color: map-get(map-get($palette, yellow), light) ;
}
.yellowBtn:active {
    background-color: map-get(map-get($palette, yellow), dark) ;
}

.box{
    color: white;
    text-align: center;
    background-color: map-get(map-get($palette, black), base);
    border-radius: 20px;
}

.form-control {
    background-color: map-get(map-get($palette, black), dark);
    border: none;
    border-radius: 10px;
    text-align: center;
    color: white;
}
.form-control:focus {
    background-color: map-get(map-get($palette, black), dark);
    color: white;
}